{{template "base" .}}

{{define "title"}}{{.Pr.Title}} - pr summary{{end}}

{{define "meta"}}
<link rel="alternate" type="application/atom+xml"
      title="RSS feed for git collaboration server"
      href="/prs/{{.Pr.ID}}/rss" />
<meta property="og:title" content="{{.Pr.Title}}" />
<meta property="og:url" content="https://{{.MetaData.URL}}/prs/{{.Pr.ID}}" />
<meta property="og:type" content="object" />
<meta property="og:site_name" content="{{.MetaData.URL}}" />
{{end}}

{{define "body"}}
{{template "pr-header" .}}

<main class="group">
  {{template "pr-tabs" .}}

  {{if eq .Tab "timeline"}}
  <div class="group timeline">
    {{range .Logs}}
    <div class="timeline-item{{if eq .Event "pr_status_changed"}} timeline-status-{{.Data.Status}}{{end}}">
      {{if .RangeDiff}}
      <details class="mb">
        <summary class="text-sm">Range Diff ↕ <code><a href="/rd/{{.Patchset.ID}}">rd-{{.Patchset.ID}}</a></code></summary>
        <div class="group">
        {{- range .RangeDiff -}}
          <div>
            <code class='{{if eq .Type "rm"}}pill-admin{{else if eq .Type "add"}}pill-success{{else if eq .Type "diff"}}pill-review{{end}}'>
              {{.Header}}
            </code>
          </div>
        {{- end -}}
        </div>
      </details>
      {{end}}

      {{if eq .Event "pr_status_changed"}}
      <div>
        {{template "user-pill" .UserData}}
        <span class="font-bold">changed status to
          <code class="pill-status-{{.Data.Status}}">{{.Data.Status}}</code>
        </span>
        <span>on <date>{{.Date}}</date></span>
      </div>
      {{if .Data.Comment}}
      <div class="status-change-comment">{{.Data.Comment}}</div>
      {{end}}
      {{else}}
      <div>
        {{template "user-pill" .UserData}}
        <span class="font-bold">
          {{if eq .Event "pr_created"}}
            created pr with <a href="/ps/{{.Patchset.ID}}"><code>{{.FormattedPatchsetID}}</code></a>
          {{else if eq .Event "pr_patchset_added"}}
            added <a href="/ps/{{.Patchset.ID}}"><code>{{.FormattedPatchsetID}}</code></a>
          {{else if eq .Event "pr_patchset_deleted"}}
            deleted <code>{{.FormattedPatchsetID}}</code>
          {{else if eq .Event "pr_reviewed"}}
            reviewed pr with <a href="/ps/{{.Patchset.ID}}"><code class="pill-review">{{.FormattedPatchsetID}}</code></a>
          {{else if eq .Event "pr_patchset_replaced"}}
            replaced <code>{{.FormattedPatchsetID}}</code>
          {{else if eq .Event "pr_name_changed"}}
            changed pr name to <code>{{.Data.Name}}</code>
          {{else}}
            {{.Event}}
          {{end}}
        </span>
        <span>on <date>{{.Date}}</date></span>
      </div>
      {{end}}
    </div>
    {{end}}
  </div>
  {{else}}
  {{if .IsRangeDiff}}
    {{template "range-diff" .}}
  {{else}}
    {{template "patchset" .}}
  {{end}}
  {{end}}
</main>
{{end}}
