{{template "base" .}}

{{define "title"}}{{.Name}} - repo{{end}}

{{define "meta"}}
<link rel="alternate" type="application/atom+xml"
      title="RSS feed for git collaboration server"
      href="/r/{{.Username}}/{{.Name}}/rss" />
{{end}}

{{define "body"}}
<header>
  <h1 class="text-2xl mb"><a href="/">dashboard</a> / <a href="/r/{{.Username}}">{{.Username}}</a> / {{.Name}}</h1>
  <div class="group">
    <details>
      <summary>Help</summary>
      <div class="group">
        <pre class="m-0"># submit a new patch request
git format-patch {{.Branch}} --stdout | ssh {{.MetaData.URL}} pr create {{.Username}}/{{.Name}}</pre>
        <pre class="m-0"># list prs for repo
ssh {{.MetaData.URL}} pr ls {{.Username}}/{{.Name}}</pre>
      </div>
    </details>
	</div>
</header>

<main class="group">
  <div>
    filter
    <a href="/r/{{.Username}}/{{.Name}}">open</a> <code>{{.NumOpen}}</code>
    &middot;
    <a href="/r/{{.Username}}/{{.Name}}?status=accepted">accepted</a> <code>{{.NumAccepted}}</code>
    &middot;
    <a href="/r/{{.Username}}/{{.Name}}?status=closed">closed</a> <code>{{.NumClosed}}</code>
  </div>
  {{template "pr-table" .Prs}}
</main>

<footer class="mt">
  <a href="/r/{{.Username}}/{{.Name}}/rss">rss</a>
</footer>
{{end}}
