{{define "patchset"}}
<div class="group">
  <div class="flex gap-2 collapse">
    <div class="group patchset-list" style="width: 350px;">
      <h2 class="text-xl">
        Patchset <code>ps-{{.Patchset.ID}}</code>
      </h2>

      {{range $patch := .Patches}}
      <div class="box{{if $patch.Review}}-review{{end}} group">
          <div>
            <h3 class="text-lg text-transform-none m-0 p-0 mb mono">
              {{if $patch.Review}}<code class="pill-review">REVIEW</code>{{end}}
              <a href="#{{$patch.Url}}" class="word-break-word">{{$patch.Title}}</a>
            </h3>

            <div class="flex justify-between items-center text-sm">
              <div>
                <code class="{{if $patch.Review}}pill-review{{end}}">{{$patch.AuthorName}}</code>
              </div>
              <date>{{$patch.FormattedAuthorDate}}</date>
            </div>
          </div>

          {{range $patch.PatchFiles}}
            <div class="flex justify-between items-center text-sm">
              {{if .NewName}}
              <a class="flex-1 word-break-word mono" href="#patch-{{$patch.ID}}-{{.NewName}}">{{.NewName}}</a>
              {{else}}
              <a class="flex-1 word-break-word mono" href="#patch-{{$patch.ID}}-{{.OldName}}">{{.OldName}}</a>
              {{end}}
              <div class="flex gap">
                <code class="pill-success">+{{.Adds}}</code>
                <code class="pill-admin">-{{.Dels}}</code>
              </div>
            </div>
          {{end}}
        </div>
      {{else}}
        <div class="box">
          No patches found for patch request.
        </div>
      {{end}}

      <div><a href="#top" class="text-sm">Back to top</a></div>
    </div>

    <div class="max-w flex-1">
      {{range $patch := .Patches}}
        <div class="group" id="{{$patch.Url}}">
          <div class="box">
            <h3 class="text-lg text-transform-none mono mb-0"><a href="#{{$patch.Url}}">{{$patch.Title}}</a></h3>
          </div>

          {{if $patch.Body}}<pre class="w-full">{{$patch.Body}}</pre>{{end}}

          {{range $patch.PatchFiles}}
            {{if .NewName}}
            <details class="details-min" open="true" id="patch-{{$patch.ID}}-{{.NewName}}">
              <summary class="patch-file">
                <code class="pill-success">+{{.Adds}}</code>
                <code class="pill-admin">-{{.Dels}}</code>
                <span class="mono ml">{{.NewName}}</span>
                <a href="#patch-{{$patch.ID}}-{{.NewName}}" class="word-break-word">link</a>
              </summary>
              {{if .IsBinary}}
              <div><pre>Binaries are not rendered as diffs.</pre></div>
              {{else}}
              <div>{{.DiffText}}</div>
              {{end}}
            </details>
            {{else}}
            <details class="details-min" open="true" id="patch-{{$patch.ID}}-{{.OldName}}">
              <summary class="patch-file">
                <code class="pill-success">+{{.Adds}}</code>
                <code class="pill-admin">-{{.Dels}}</code>
                <span class="mono ml">{{.OldName}}</span>
                <a href="#patch-{{$patch.ID}}-{{.OldName}}" class="word-break-word">link</a>
              </summary>
              {{if .IsBinary}}
              <div><pre>Binaries are not rendered as diffs.</pre></div>
              {{else}}
              <div>{{.DiffText}}</div>
              {{end}}
            </details>
            {{end}}
          {{end}}
        </div>
        <hr class="my" />
      {{else}}
        <div class="box">
          No patches found for patch request.
        </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}
