{{define "pr-header"}}
<header id="top">
  <h1 class="text-2xl mb">
    <a href="/">dashboard</a>
    <span> / <a href="{{.Repo.Url}}">{{.Repo.Text}}</a></span>
    <span> / {{.Pr.Title}} <a href="/prs/{{.Pr.ID}}"><code>#{{.Pr.ID}}</code></a></span>
    <a class="text-sm" href="/prs/{{.Pr.ID}}/rss">rss</a>
  </h1>

  <div class="mb">
    {{template "pr-status" .Pr.Status}}
    <span>&middot;</span>
    <span>opened on <date>{{.Pr.Date}}</date> by</span>
    {{template "user-pill" .Pr.UserData}}
  </div>

  <details>
    <summary>Help</summary>
    <div class="group">
      checkout latest patchset:
      <pre class="m-0">ssh {{.MetaData.URL}} print pr-{{.Pr.ID}} | git am -3</pre>

      checkout any patchset in a patch request:
      <pre class="m-0">ssh {{.MetaData.URL}} print ps-X | git am -3</pre>

      add changes to patch request:
      <pre class="m-0">git format-patch {{.Branch}} --stdout | ssh {{.MetaData.URL}} pr add {{.Pr.ID}}</pre>

      add review to patch request:
      <pre class="m-0">git format-patch {{.Branch}} --stdout | ssh {{.MetaData.URL}} pr add --review {{.Pr.ID}}</pre>

      accept PR:
      <pre class="m-0">ssh {{.MetaData.URL}} pr accept {{.Pr.ID}}</pre>

      close PR:
      <pre class="m-0">ssh {{.MetaData.URL}} pr close {{.Pr.ID}}</pre>
    </div>
  </details>
</header>
{{end}}
