{{define "range-diff"}}
<div class="group">
  <div class="flex gap-2 collapse">
    <div class="group patchset-list" style="width: 350px;">
      <h2 class="text-xl mt">
        Range-diff <code>rd-{{.Patchset.ID}}</code>
      </h2>

      {{range $diff := .PatchsetData.RangeDiff}}
        <div class="box">
          <dl>
            <dt>title</dt>
            <dd><a href="#{{$diff.Header.OldIdx}}-{{$diff.Header.NewIdx}}">{{$diff.Header.Title}}</a></dd>
 
            <dt>description</dt>
            <dd>
              <code class='{{if eq $diff.Type "rm"}}pill-admin{{else if eq $diff.Type "add"}}pill-success{{else if eq $diff.Type "diff"}}pill-review{{end}}'>
              {{if eq $diff.Header.NewSha ""}}
                Patch removed
              {{else if eq $diff.Header.OldSha ""}}
                Patch added
              {{else if $diff.Header.ContentEqual}}
                Patch equal
              {{else}}
                Patch changed
              {{end}}
              </code>
            </dd>

            <dt>old #{{$diff.Header.OldIdx}}</dt>
            <dd><code>{{sha $diff.Header.OldSha}}</code></dd>

            <dt>new #{{$diff.Header.NewIdx}}</dt>
            <dd><code>{{sha $diff.Header.NewSha}}</code></dd>
          </dl>
        </div>
      {{else}}
      <div class="box">
        No range diff found for patchset. 
      </div>
      {{end}}

      <div><a href="#top">Back to top</a></div>
    </div>

    <div class="max-w flex-1">
      <div class="group">
        {{range .PatchsetData.RangeDiff}}
          <div id="{{.Header.OldIdx}}-{{.Header.NewIdx}}">
            <div class="mb">
              <code class='{{if eq .Type "rm"}}pill-admin{{else if eq .Type "add"}}pill-success{{else if eq .Type "diff"}}pill-review{{end}}'>
                {{.Header}}
              </code>
            </div>

            <div>
              {{- if .Files -}}
                {{range .Files}}
                  <div class="flex gap">
                    <div class="flex-1" style="width: 48%;">
                      <h3 class="text-md">old</h3>
                      <div>
                        {{if .OldFile}}
                          {{if .OldFile.OldName}}old:<code>{{.OldFile.OldName}}</code>{{end}}
                          {{if .OldFile.NewName}}new:<code>{{.OldFile.NewName}}</code>{{end}}
                        {{end}}
                      </div>
                      <pre class="m-0">{{- range .Diff -}}
                        {{- if eq .OuterType "delete" -}}
                          <span style="background-color: tomato;">{{.Text}}</span>
                        {{- else if eq .OuterType "insert" -}}
                        {{- else if eq .InnerType "insert" -}}
                          <span style="color: limegreen;">{{.Text}}</span>
                        {{- else if eq .InnerType "delete" -}}
                          <span style="color: tomato;">{{.Text}}</span>
                        {{- else -}}
                          <span>{{.Text}}</span>
                        {{- end -}}
                      {{- end -}}</pre>
                    </div>

                    <div class="flex-1" style="width: 48%;">
                      <h3 class="text-md">new</h3>
                      <div>
                        {{if .NewFile}}
                          {{if .NewFile.OldName}}old:<code>{{.NewFile.OldName}}</code>{{end}}
                          {{if .NewFile.NewName}}new:<code>{{.NewFile.NewName}}</code>{{end}}
                        {{end}}
                      </div>
                      <pre class="m-0">{{- range .Diff -}}
                        {{- if eq .OuterType "insert" -}}
                          <span style="background-color: limegreen;">{{.Text}}</span>
                        {{- else if eq .OuterType "delete" -}}
                        {{- else if eq .InnerType "insert" -}}
                          <span style="color: limegreen;">{{.Text}}</span>
                        {{- else if eq .InnerType "delete" -}}
                          <span style="color: tomato;">{{.Text}}</span>
                        {{- else -}}
                          <span>{{.Text}}</span>
                        {{- end -}}
                      {{- end -}}</pre>
                    </div>
                  </div>
                {{end}}
              {{- end -}}
            </div>
          </div>
        {{- end -}}
      </div>

      <hr class="my" />
    </div>
  </div>
</div>
{{end}}
