{{template "base" .}}

{{define "title"}}git-pr{{end}}

{{define "meta"}}
<link rel="alternate" type="application/atom+xml"
      title="RSS feed for git collaboration server"
      href="/rss" />
{{end}}

{{define "body"}}
<header class="group">
  <h1 class="text-2xl">patchbin</h1>
  <div>
    <span>A pastebin supercharged for git collaboration</span> &middot;
    <a href="/docs">docs</a>
  </div>
  <pre class="m-0">ssh {{.MetaData.URL}} help</pre>
</header>

<main>
  <div>
    filter
    <a href="/">open</a> <code>{{.NumOpen}}</code>
    &middot;
    <a href="/?status=accepted">accepted</a> <code>{{.NumAccepted}}</code>
    &middot;
    <a href="/?status=closed">closed</a> <code>{{.NumClosed}}</code>
  </div>
  {{template "pr-table" .Prs}}
</main>

<footer class="mt">
  <div><a href="/rss">rss</a></div>
  <div class="text-sm">OR with fingerprint, url encoded: <code>/rss?pubkey=SHA256%3Axxx</code></div>
</footer>
{{end}}
