{{define "patchset"}}
<div class="group">
  <div class="flex gap-2 collapse">
    <div class="group" style="width: 300px;">
      <h2 class="text-xl">
        Patchset <code>ps-{{.Patchset.ID}}</code>
      </h2>

      {{range $patch := .Patches}}
        <div class="box group">
          <div>
            <h3 class="text-lg transform-none m-0 p-0 mb">
              {{if $patch.Review}}<code class="pill-review">REVIEW</code>{{end}}
              <a href="#{{$patch.Url}}">{{$patch.Title}}</a>
            </h3>

            <div class="group-h text-sm justify-between">
              <div class="flex-1">
                <code class="pill{{if $patch.Review}}-review{{end}}">{{$patch.AuthorName}} &lt;{{$patch.AuthorEmail}}&gt;</code>
              </div>
              <date>{{$patch.FormattedAuthorDate}}</date>
            </div>
          </div>

          {{if $patch.Body}}<pre class="m-0">{{$patch.Body}}</pre>{{end}}

          {{range $patch.PatchFiles}}
            <div class="flex justify-between">
              <a class="flex-1" href="#patch-{{$patch.ID}}-{{.NewName}}">{{.NewName}}</a>
              <div class="flex gap">
                <code class="pill-success">+{{.Adds}}</code>
                <code class="pill-admin">-{{.Dels}}</code>
              </div>
            </div>
          {{end}}
        </div>
      {{else}}
        <div class="box">
          No patches found for patch request.
        </div>
      {{end}}
    </div>

    <div class="flex-1">
      {{range $patch := .Patches}}
        <div id="{{$patch.Url}}">
          <h3 class="text-lg transform-none"><a href="#{{$patch.Url}}">{{$patch.Title}}</a></h3>
          {{range $patch.PatchFiles}}
            <div class="group-h" id="patch-{{$patch.ID}}-{{.NewName}}">
              <a href="#patch-{{$patch.ID}}-{{.NewName}}">{{.NewName}}</a>
              <div class="flex gap">
                <code class="pill-success">+{{.Adds}}</code>
                <code class="pill-admin">-{{.Dels}}</code>
              </div>
            </div>
            <div>{{.DiffText}}</div>
          {{end}}
        </div>
      {{else}}
        <div class="box">
          No patches found for patch request.
        </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}
