{{template "base" .}}

{{define "title"}}{{.Pr.Title}} - pr summary{{end}}

{{define "meta"}}
<link rel="alternate" type="application/atom+xml"
      title="RSS feed for git collaboration server"
      href="/prs/{{.Pr.ID}}/rss" />
{{end}}

{{define "body"}}
{{template "pr-header" .}}

<main class="group">
  <div class="group">
    {{range $idx, $val := .Patches}}
    <div class="box group" id="{{$val.Url}}">
      <div>
        <h2 class="text-lg m-0 p-0 mb">
          <code>#{{$idx}}</code>
          {{if $val.Review}}<code>REVIEW</code>{{end}}
          <a href="#{{$val.Url}}">{{$val.Title}}</a>
        </h2>

        <div class="group-h text-sm">
          <code>{{$val.AuthorName}} &lt;{{$val.AuthorEmail}}&gt;</code>
          <date>{{$val.AuthorDate}}</date>
        </div>
      </div>

      {{if $val.Body}}<pre class="m-0">{{$val.Body}}</pre>{{end}}

      <pre class="m-0">{{$val.BodyAppendix}}</pre>

      <details>
        <summary>Patch</summary>
        <div>{{$val.DiffStr}}</div>
      </details>
    </div>
    {{else}}
    <div class="box">
      No patches found for patch request.
    </div>
    {{end}}
  </div>
</main>

<hr />

<footer>
  <a href="/prs/{{.Pr.ID}}/rss">rss</a>
</footer>
{{end}}
