{{template "base" .}}

{{define "title"}}{{.Pr.Title}} - pr summary{{end}}

{{define "meta"}}
<link rel="alternate" type="application/atom+xml"
      title="RSS feed for git collaboration server"
      href="/prs/{{.Pr.ID}}/rss" />
{{end}}

{{define "body"}}
{{template "pr-header" .}}

<hr />

<main class="group">
  <div class="box group text-sm">
    {{range .Logs}}
    <div>
      <code class='pill{{if eq .Event "pr_reviewed"}}-alert{{end}}'>{{.UserName}}</code>
      <span class="font-bold">
        {{if eq .Event "pr_created"}}
          created pr
        {{else if eq .Event "pr_patchset_added"}}
          added patches
        {{else if eq .Event "pr_reviewed"}}
          reviewed pr
        {{else if eq .Event "pr_patchset_replaced"}}
          replaced all patches
        {{else if eq .Event "pr_status_changed"}}
          changed status
        {{else if eq .Event "pr_name_changed"}}
          changed pr name
        {{else}}
          {{.Event}}
        {{end}}
      </span>
      <span>on <date>{{.Date}}</date></span>
      <span>{{.Data}}</span>
    </div>
    {{end}}
  </div>

  <div class="group">
    {{range $idx, $val := .Patches}}
    <div class="box group" id="{{$val.Url}}">
      <div>
        <h2 class="text-lg m-0 p-0 mb">
          <code>{{$idx}}</code>
          <a href="#{{$val.Url}}">{{$val.Title}}</a>
        </h2>

        <div class="group-h text-sm">
          <code class="pill{{if $val.Review}}-alert{{end}}">{{$val.AuthorName}} &lt;{{$val.AuthorEmail}}&gt;</code>
          <date>{{$val.FormattedAuthorDate}}</date>
        </div>
      </div>

      {{if $val.Body}}<pre class="m-0">{{$val.Body}}</pre>{{end}}

      <pre class="m-0">{{$val.BodyAppendix}}</pre>

      <details>
        <summary>Patch</summary>
        <div>{{$val.DiffStr}}</div>
      </details>
    </div>
    {{else}}
    <div class="box">
      No patches found for patch request.
    </div>
    {{end}}
  </div>
</main>

<hr />

<footer>
  <a href="/prs/{{.Pr.ID}}/rss">rss</a>
</footer>
{{end}}
