{{template "base" .}}

{{define "title"}}{{.Pr.Title}} - pr patches{{end}}

{{define "meta"}}
<link rel="alternate" type="application/atom+xml"
      title="RSS feed for git collaboration server"
      href="/prs/{{.Pr.ID}}/rss" />
{{end}}

{{define "body"}}
{{template "pr-header" .}}

<main>
  <div class="group">
    {{range .Patches}}
    <div class="box">
      <div class="group-h">
        <h2 class="text-lg m-0 p-0">
          {{if .Review}}<code>REVIEW</code>{{end}}
          <span>{{.Title}}</span>
        </h2>
      </div>
      <div>{{.DiffStr}}</div>
    </div>
    {{end}}
  </div>
  <hr />
</main>

<hr />

<footer>
  <a href="/prs/{{.Pr.ID}}/rss">rss</a>
</footer>
{{end}}
