{{define "pr-header"}}
<header>
  <h1 class="text-2xl mb">
    <a href="{{.Repo.Url}}">{{.Repo.Text}}</a>
    <span> / {{.Pr.Title}} <code>#{{.Pr.ID}}</code></span>
  </h1>

  <div class="text-sm">
    {{template "pr-status" .Pr.Status}}
    <span>opened on <date>{{.Pr.Date}}</date> by</span>
    <code class="{{if .Pr.IsAdmin}}pill-alert{{end}}" title="{{.Pr.Pubkey}}">{{.Pr.UserName}}</code>
  </div>

  <details>
    <summary>Help</summary>
    <div class="group">
      <pre class="m-0"># add changes to patch request
git format-patch {{.Branch}} --stdout | ssh pr.pico.sh pr add {{.Pr.ID}}</pre>
      <pre class="m-0"># checkout all patches
ssh pr.pico.sh pr print {{.Pr.ID}} | git am -3</pre>
      <pre class="m-0"># checkout specific patch
ssh pr.pico.sh pr print {{.Pr.ID}} --filter n | git am -3</pre>
      <pre class="m-0"># checkout patch range
ssh pr.pico.sh pr print {{.Pr.ID}} --filter n:y | git am -3</pre>
    </div>
  </details>
</header>
{{end}}
