{{define "pr-header"}}
<header>
  <h1 class="text-2xl mb">
    <a href="{{.Repo.Url}}">{{.Repo.Text}}</a>
    <span> / {{.Pr.Title}} <a href="/prs/{{.Pr.ID}}"><code>#{{.Pr.ID}}</code></a></span>
    <a class="text-sm" href="/prs/{{.Pr.ID}}/rss">rss</a>
  </h1>

  <div class="mb">
    {{template "pr-status" .Pr.Status}}
    <span>&middot;</span>
    <span>opened on <date>{{.Pr.Date}}</date> by</span>
    {{template "user-pill" .Pr.UserData}}
  </div>

  <details>
    <summary>Help</summary>
    <div class="group">
      <pre class="m-0"># add changes to patch request
git format-patch {{.Branch}} --stdout | ssh {{.MetaData.URL}} pr add {{.Pr.ID}}</pre>
      <pre class="m-0"># add review to patch request
git format-patch {{.Branch}} --stdout | ssh {{.MetaData.URL}} pr add --review {{.Pr.ID}}</pre>
      <pre class="m-0"># remove patchset
ssh {{.MetaData.URL}} ps rm ps-x</pre>
      <pre class="m-0"># checkout all patches
ssh {{.MetaData.URL}} pr print {{.Pr.ID}} | git am -3</pre>
      <pre class="m-0"># print a diff between the last two patches in a patch request
ssh {{.MetaData.URL}} pr diff {{.Pr.ID}}</pre>
      <pre class="m-0"># accept PR
ssh {{.MetaData.URL}} pr accept {{.Pr.ID}}</pre>
      <pre class="m-0"># close PR
ssh {{.MetaData.URL}} pr close {{.Pr.ID}}</pre>
    </div>
  </details>
</header>
{{end}}
