{{template "base" .}}

{{define "title"}}{{.ID}} - repo{{end}}

{{define "meta"}}
<link rel="alternate" type="application/atom+xml"
      title="RSS feed for git collaboration server"
      href="/repos/{{.ID}}/rss" />
{{end}}

{{define "body"}}
<header>
  <h1 class="text-2xl mb"><a href="/">repos</a> / {{.ID}}</h1>
  <div class="group">
    <div><code>git clone {{.CloneAddr}}</code></div>
    <div>Submit patch request: <code>git format-patch -1 HEAD --stdout | ssh pr.pico.sh pr create {{.ID}}</code></div>
	</div>
</header>
<main class="group">
  <h3 class="text-lg">Open PRs</h3>

  {{range .OpenPrs}}
  <article class="box">
    <div><a href="{{.Url}}">{{.Text}}</a> <code>{{.Status}}</code></div>
    <div class="text-sm">
      <code>#{{.ID}}</code>
      <span>opened on <date>{{.Date}}</date> by </span>
      <code>{{.Pubkey}}</code>
    </div>
  </article>
  {{end}}

  {{if .AcceptedPrs}}
  <hr class="my w-full" />

  <h3 class="text-lg">Accepted PRs</h3>

  {{range .AcceptedPrs}}
  <article class="box">
    <div><a href="{{.Url}}">{{.Text}}</a> <code>{{.Status}}</code></div>
    <div class="text-sm">
      <code>#{{.ID}}</code>
      <span>opened on <date>{{.Date}}</date> by </span>
      <code>{{.Pubkey}}</code>
    </div>
  </article>
  {{end}}
  {{end}}

  {{if .ClosedPrs}}
  <hr class="my w-full" />

  <h3 class="text-lg">Closed PRs</h3>

  {{range .ClosedPrs}}
  <article class="box">
    <div><a href="{{.Url}}">{{.Text}}</a> <code>{{.Status}}</code></div>
    <div class="text-sm">
      <code>#{{.ID}}</code>
      <span>opened on <date>{{.Date}}</date> by </span>
      <code>{{.Pubkey}}</code>
    </div>
  </article>
  {{end}}
  {{end}}
</main>

<hr />

<footer>
  <a href="/repos/{{.ID}}/rss">rss</a>
</footer>
{{end}}
