{{template "base" .}}

{{define "title"}}{{.ID}} - repo{{end}}

{{define "meta"}}
<link rel="alternate" type="application/atom+xml"
      title="RSS feed for git collaboration server"
      href="/repos/{{.ID}}/rss" />
{{end}}

{{define "body"}}
<header>
  <h1 class="text-2xl mb"><a href="/">repos</a> / {{.ID}}</h1>
  <div class="group">
    <div>
      <code>git clone {{.CloneAddr}}</code>
    </div>

    <details>
      <summary>Help</summary>
      <pre class="m-0"># submit a new patch request
git format-patch main --stdout | ssh pr.pico.sh pr create {{.ID}}</pre>
    </details>
	</div>
</header>
<main class="group">
  <h3 class="text-lg">Open PRs</h3>
  {{range .OpenPrs}}
    <div class="box">{{template "pr-list-item" .}}</div>
  {{end}}

  {{if .AcceptedPrs}}
    <hr class="my w-full" />
    <h3 class="text-lg">Accepted PRs</h3>
    {{range .AcceptedPrs}}
      <div class="box">{{template "pr-list-item" .}}</div>
    {{end}}
  {{end}}

  {{if .ClosedPrs}}
    <hr class="my w-full" />
    <h3 class="text-lg">Closed PRs</h3>
    {{range .ClosedPrs}}
      <div class="box">{{template "pr-list-item" .}}</div>
    {{end}}
  {{end}}
</main>

<hr />

<footer>
  <a href="/repos/{{.ID}}/rss">rss</a>
</footer>
{{end}}
