{{template "base" .}}

{{define "title"}}{{.ID}} - repo{{end}}

{{define "meta"}}
<link rel="alternate" type="application/atom+xml"
      title="RSS feed for git collaboration server"
      href="/repos/{{.ID}}/rss" />
{{end}}

{{define "body"}}
<header>
  <h1 class="text-2xl mb"><a href="/">repos</a> / {{.ID}}</h1>
  <div class="group">
    <div>
      {{.Desc}}
    </div>

    <div>
      <code>git clone {{.CloneAddr}}</code>
    </div>

    <details>
      <summary>Help</summary>
      <div class="group">
        <pre class="m-0"># submit a new patch request
git format-patch {{.Branch}} --stdout | ssh {{.MetaData.URL}} pr create {{.ID}}</pre>
        <pre class="m-0"># list prs for repo
ssh {{.MetaData.URL}} pr ls {{.ID}}</pre>
      </div>
    </details>
	</div>
</header>

<main class="group">
  {{template "pr-table" .Prs}}
</main>

<footer class="mt">
  <a href="/repos/{{.ID}}/rss">rss</a>
</footer>
{{end}}
