{{template "base" .}}

{{define "title"}}{{.UserData.Name}} - user{{end}}

{{define "meta"}}
<link rel="alternate" type="application/atom+xml"
      title="RSS feed for git collaboration server"
      href="/rss/{{.UserData.Name}}" />
{{end}}

{{define "body"}}
<header>
  <h1 class="text-2xl mb"><a href="/">dashboard</a> / {{.UserData.Name}}</h1>
  <dl>
    <dt>ID</dt>
    <dd><code>#{{.UserData.UserID}}</code></dd>

    <dt>Admin</dt>
    <dd>{{if .UserData.IsAdmin}}Yes{{else}}No{{end}}</dd>

    <dt>Pubkey</dt>
    <dd><code>{{.UserData.Pubkey}}</code></dd>
  </dl>
</header>

<main class="group">
  <div>
    filter
    <a href="/r/{{.UserData.Name}}">open</a>
    &middot;
    <a href="/r/{{.UserData.Name}}?status=reviewed">reviewed</a>
    &middot;
    <a href="/r/{{.UserData.Name}}?status=accepted">accepted</a>
    &middot;
    <a href="/r/{{.UserData.Name}}?status=closed">closed</a>
  </div>
  {{template "pr-table" .Prs}}
</main>

<footer class="mt">
  <a href="/rss/{{.UserData.Name}}">rss</a>
</footer>
{{end}}
