table, tr {
  border-spacing: 0;
}

td, th {
  padding: var(--grid-height);
  border-bottom: 1px solid var(--grey-light);
}

.pill-success {
  border: 1px solid var(--success);
  color: var(--success);
}

.pill-review {
  border: 1px solid var(--review);
  color: var(--review);
}

.pill-admin {
  border: 1px solid var(--admin);
  color: var(--admin);
}

.box-sm-review {
  border: 2px solid var(--review);
  padding: 0.15rem 0.35rem;
}

.box-review {
  border: 2px solid var(--review);
  padding: 0.5rem 0.75rem;
}
