body {
  padding-left: 1rem;
  padding-right: 1rem;
}

pre {
  padding: var(--grid-height);
}

table, tr {
  border-spacing: 0;
}

td, th {
  padding: var(--grid-height);
  border-bottom: 1px solid var(--grey-light);
}

details {
  margin-bottom: 0;
}

.text-2xl {
  text-transform: lowercase;
}

.pill-success {
  border: 1px solid var(--success);
  color: var(--success);
}

.pill-review {
  border: 1px solid var(--review);
  color: var(--review);
}

.pill-admin {
  border: 1px solid var(--admin);
  color: var(--admin);
}

.box-sm-review {
  border: 2px solid var(--review);
  padding: 0.15rem 0.35rem;
}

.box-review {
  border: 2px solid var(--review);
  padding: 0.5rem 0.75rem;
}

.max-w {
  max-width: calc(100% - 300px);
}

.word-break-word {
  word-break: break-word;
}

.patchset-list {
  position: sticky;
  top: 0;
  left: 0;
  max-height: 100vh;
  overflow-y: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.patch-file {
  position: sticky;
  top: 0;
  left: 0;
  padding: var(--grid-height) 0;
  background-color: var(--bg-color);
  margin: 0;
}

.details-min {
  border: 0;
  margin: 0;
  padding: 0;
}

.chroma {
  margin: 0;
  overflow-x: auto;
}

.chroma .gi {
  font-weight: normal !important;
}

.interdiff summary {
  margin: 0 !important;
}

.interdiff pre {
  overflow-x: scroll;
}

@media only screen and (max-width: 40em) {
  .collapse {
    flex-direction: column;
  }

  .collapse > div {
    width: 100% !important;
    max-width: 100% !important;
  }

  .patchset-list {
    position: initial;
  }

  body {
    padding-top: var(--line-height);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  pre {
    padding: var(--grid-height) 0;
  }
}
